<a href="https://colab.research.google.com/github/SP-TechForest/Python-creations/blob/main/Linear_regression_tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import tensorflow as tf
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
Data = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")

In [6]:
Data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
Encoded_data = pd.get_dummies(Data)

In [8]:
Encoded_data.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 12 columns]

In [38]:
x = Data.drop("charges", axis = 1)
y = Data["charges"]
x.shape, y.shape

((1338, 6), (1338,))

We have 11 input columns, it means the input shape is [11]

In [39]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.8, random_state = 42)

In [40]:
x_train.shape # which is exactly 80%

(1070, 6)

In [41]:
Encoded_data.isna().mean()

age                 0.0
bmi                 0.0
children            0.0
charges             0.0
sex_female          0.0
sex_male            0.0
smoker_no           0.0
smoker_yes          0.0
region_northeast    0.0
region_northwest    0.0
region_southeast    0.0
region_southwest    0.0
dtype: float64

In [42]:
Encoded_data.age.unique()

array([19, 18, 28, 33, 32, 31, 46, 37, 60, 25, 62, 23, 56, 27, 52, 30, 34,
       59, 63, 55, 22, 26, 35, 24, 41, 38, 36, 21, 48, 40, 58, 53, 43, 64,
       20, 61, 44, 57, 29, 45, 54, 49, 47, 51, 42, 50, 39])

## Create min max scalar to reduce the outliers and make out put more accurate

In [43]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [44]:
Data_transform_model = make_column_transformer(
    (MinMaxScaler(), ["age","bmi","children"]),
    (OneHotEncoder(handle_unknown  = "ignore"),["sex", "smoker", "region"])
)

In [45]:
Data_transform_model.fit(x_train)

ColumnTransformer(transformers=[('minmaxscaler', MinMaxScaler(),
                                 ['age', 'bmi', 'children']),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 ['sex', 'smoker', 'region'])])

In [47]:
x_train_transform = Data_transform_model.transform(x_train)
x_test_transform = Data_transform_model.transform(x_test)

In [48]:
x_train_transform.shape

(1070, 11)

In [49]:
x_test_transform.shape

(268, 11)

In [51]:
y_train.shape

(1070,)

In [80]:
from tensorflow.python.eager.monitoring import Metric
tf.random.set_seed(42)
model = tf.keras.Sequential([
                             tf.keras.layers.Dense(100),
                             tf.keras.layers.Dense(10),
                             tf.keras.layers.Dense(1),
])

In [84]:
model.compile(loss=tf.keras.losses.mae,
                          optimizer=tf.keras.optimizers.Adam(),
                          metrics=['mae'])

model.fit(x_train_transform, y_train, epochs = 200, verbose = 0)

In [85]:
model_loss, model_mae = model.evaluate(x_test_transform, y_test)

9/9 [==============================] - 0s 2ms/step - loss: 3169.2039 - mae: 3169.2039

In [86]:
model_loss, model_mae

(3169.203857421875, 3169.203857421875)